<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hatch</a>
      <p class="navbar-text">CSV-friendly Twitter search for social scientists.
    </div>
    {{#if loggedIn}}
      <button id=logout class="navbar" style="float: right; background:#000; color:#888">logout</button>
    {{/if}}
  </div>
</nav>
