<form id="login-form">
  <div class="jumbotron">
    <h1>Hatch</h1>
    <p>Search twitter and export the results to CSV.</p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Search Twitter
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Authenticate with Twitter</h4>
          </div>
          <div class="modal-body">
            <p>Hatch needs you to sign in with a Twitter account to search Twitter on your behalf. We don't store any of your information and will never post anything on your behalf.</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="twitter-sign-in-btn" aria-label="Sign in with Twitter"></button>
          </div>
        </div>
      </div>
    </div>



   </div>
</form>
