<form id="search-form" data-toggle="validator">
  <h3><span class="glyphicon glyphicon-search"></span> Search</h3>

  <!-- QUERY -->
  <div class="form-group">
    <label for="query">Search Terms</label>
    <input type="text" class="form-control" id="query" placeholder="Search..."
           required placeholder="Search..." required
           data-toggle="popover" data-trigger="hover" data-placement="bottom"
           data-content="Search for Twitter key terms or hashtags.">

    <!-- Button trigger modal -->
    <p><a href="#" data-toggle="modal" data-target="#advanced-search-modal">Advanced Search</a></p>

  <!-- MAX RESULTS -->
  <div class="form-group">
    <label for="max-results">Max Results</label>
    <select class="form-control" type="text" class="form-control" id="max-results" placeholder="100"
           data-toggle="popover" data-trigger="hover" data-placement="bottom"
           data-content="Maximum number of results to recieve from Twitter.">
      <option selected>100</option>
      <option>200</option>
      <option>300</option>
      <option>400</option>
      <option>500</option>
      <option>600</option>
      <option>700</option>
      <option>800</option>
      <option>900</option>
      <option>1000</option>
    </select>
  </div>

  <!-- RESULT TYPE -->
  <div class="form-group">
    <label for="result-type">Result Type</label>
    <select class="form-control" id="result-type" data-toggle="popover" data-trigger="blur"
    data-placement="bottom" data-content="Choose which result type you prefer to see">
      <option>mixed</option>
      <option>recent</option>
      <option>popular</option>
    </select>
  </div>

  <!--DATEPICKER -->
  <div class="form-group">
    <div class="input-daterange">
      <label for="date-picker">Show only Tweets until</label>
      <!-- <span class="add-on">From</span> -->
      <!-- <input id="after" type="date" class="input-small" placeholder="YYYY-MM-DD" /> -->
      <input id="until" type="date" class="input-small" value="YYYY-MM-DD"
      data-toggle="popover" data-trigger="hover"
    data-placement="bottom" data-content="Choose a date to search until. Twitter may ignore these parameters."/>
    </div>
  </div>

  <!-- SUBMIT FORM -->
  <button type="submit" class="btn btn-primary">Search Twitter</button>

</form>

