<form id="search-form" data-toggle="validator">
  <h3><span class="glyphicon glyphicon-search"></span> Search</h3>

  <!-- QUERY -->
  <div class="form-group">
    <label for="query">Query</label>
    <input type="text" class="form-control" id="query" placeholder="Search..." required>

    <!-- Button trigger modal -->
    <a data-toggle="modal" data-target="#advanced-search-modal">
      Advanced Search
    </a>



  <!-- LANGUAGE -->
  <!-- TODO: populate with complete list of languages -->
  <div class="form-group">
    <label for="lang">Language</label>
    <select class="form-control" id="lang">
      <option>en</option>
      <option>es</option>
      <option>jp</option>
    </select>
  </div>

  <!-- RESULT TYPE -->
  <div class="form-group">
    <label for="result-type">Result Type</label>
    <select class="form-control" id="result-type">
      <option>mixed</option>
      <option>recent</option>
      <option>popular</option>
    </select>
  </div>

  <!--DATEPICKER -->
  <div class="form-group">
    <div class="input-daterange">
      <label for="date-picker">Show only Tweets until</label>
      <!-- <span class="add-on">From</span> -->
      <!-- <input id="after" type="date" class="input-small" placeholder="YYYY-MM-DD" /> -->
      <input id="until" type="date" class="input-small" value="YYYY-MM-DD" />
    </div>
  </div>

  <!-- SUBMIT FORM -->
  <button type="submit" class="btn btn-primary">Search Twitter</button>

</form>

<!-- Modal -->
<div id="advanced-search-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Advanced Search</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="all-of-these-words">All of these words:</label>
          <input id="all-of-these-words"></input>
        </div>

        <div class="form-group">
          <label for="any-of-these-words">Any of these words:</label>
          <input id="any-of-these-words"></input>
        </div>

        <div class="form-group">
          <label for="none-of-these-words">None of these words:</label>
          <input id="none-of-these-words"></input>
       </div>

        <div class="form-group">
          <label for="from-this-user">From this user:</label>
          <input id="from-this-user"></input>
       </div>

     </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save-advanced-search" type="button" class="btn btn-primary">Save search terms</button>
      </div>

    </div>
  </div>
</div>

</div>
