<form id="search-form">

  <!-- Query -->
  <div class="form-group">
    <label for="query">Query</label>
    <input type="text" class="form-control" id="query" placeholder="Search...">
  </div>

  <!-- Language -->
  <div class="form-group">
    <label for="lang">Language</label>
    <select class="form-control" id="lang">
      <option>en</option>
      <option>es</option>
      <option>jp</option>
    </select>
  </div>

  <!-- Result Type -->
  <div class="form-group">
    <label for="result-type">Result Type</label>
    <select class="form-control" id="result-type">
      <option>Recent</option>
      <option>Mixed</option>
      <option>Popular</option>
    </select>
  </div>

  <!-- Submit Form -->
  <button type="submit" class="btn btn-default">Search</button>

</form>
